<!DOCTYPE html>
<html>
<head>
    <title>PomoDuck</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="timer.js"></script>
    <style>.timer{text-align:center;}</style>
</head>

<body>
    <div class="timer">
        <label for="timer25">25/5 Timer</label>
        <input type="radio" id="timer25" name="timer" value=25 checked>
        <label for="timer50">50/10 Timer</label>
        <input type="radio" id="timer50" name='timer' value="50"></input>
        <div id="timerDisplay">25:00</div>
        <button id="startButton">Start</button>
    </div>

  
</body>
</html>